# **Data Scientist Techncial Test**

**Nama: Arfi Nadhifa Hananti**

## **Task:**
Buatlah table seperti berikut dari data dinas sosial dan data master desa. Lakukan check pada data tersebut apakah ada kolom nilai null atau tidak? Jika ada nilai null lakukan cleansing data pada table yang sudah dilakukan join sehingga meminimalisir nilai null. Buatlah coding cleansing dengan bahasa python. Asumsikan akan melakukan cleansing data pada data yang jumlahnya besar dan beragam sehingga buatlah algoritma coding yang bisa digunakan untuk banyak case data.

note : untuk header kolom menggunakan bentuk kecil semua dan isi data mengguanakan huruf besar semua

## Import Library

In [327]:
import pandas as pd

## Load Data

Data yang digunakan dapat diakses melalui [Github](https://https://github.com/Arfi3/SEAL-Data-Scientist-Techncial-Test).

In [328]:
# Memuat dataset masterdesa.csv
data1=pd.read_csv("https://raw.githubusercontent.com/Arfi3/SEAL-Data-Scientist-Techncial-Test/refs/heads/main/masterdesa.csv")

In [329]:
# Memuat dataset Data Dinas Sosial.csv
data2=pd.read_csv("https://raw.githubusercontent.com/Arfi3/SEAL-Data-Scientist-Techncial-Test/refs/heads/main/Data%20Dinas%20Sosial.csv")

In [330]:
# Menampilkan Dataframe pada dataset masterdesa
data1.head()

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_desa_kelurahan
0,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010001,WIDORO,35.01.01,DONOROJO,35.01.01.2001,WIDORO
1,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010002,SAWAHAN,35.01.01,DONOROJO,35.01.01.2002,SAWAHAN
2,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010003,KALAK,35.01.01,DONOROJO,35.01.01.2003,KALAK
3,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010004,SENDANG,35.01.01,DONOROJO,35.01.01.2004,SENDANG
4,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010005,KLEPU,35.01.01,DONOROJO,35.01.01.2005,KLEPU

In [331]:
# Mengetahui kolom-kolom pada data masterdesa
data1.columns.tolist()

['kode_provinsi',
 'nama_provinsi',
 'kode_kabupaten_kota',
 'nama_kabupaten_kota',
 'bps_kode_kecamatan',
 'bps_nama_kecamatan',
 'bps_kode_desa_kelurahan',
 'bps_desa_kelurahan',
 'kemendagri_kode_kecamatan',
 'kemendagri_nama_kecamatan',
 'kemendagri_kode_desa_kelurahan',
 'kemendagri_desa_kelurahan']

In [332]:
# Menampilkan Dataframe pada dataset Data Dinas Sosial
data2.head()

,id,kode_provinsi,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan
0,1,35,Jawa Timur,Triwulan I 2024,3.53E+20,ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KAB. BANGKALAN,GEGER,LERPAK,2024,-,-,-
1,2,35,Jawa Timur,Triwulan I 2024,3.53E+20,ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KAB. BANGKALAN,GALIS,GALIS,2024,-,-,-
2,3,35,Jawa Timur,Triwulan I 2024,3.53E+20,ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KAB. BANGKALAN,GALIS,LONGKEK,2024,-,-,-
3,4,35,Jawa Timur,Triwulan I 2024,3.53E+20,ACHMAD,DSN POCONG,JAWA TIMUR,KAB. BANGKALAN,GEGER,CAMPOR,2024,-,-,-
4,5,35,Jawa Timur,Triwulan I 2024,3.53E+20,ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KAB. BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-

In [333]:
# Mengetahui kolom-kolom pada data Data Dinas Sosial
data2.columns.tolist()

['id',
 'kode_provinsi',
 'nama_provinsi',
 'periode_update',
 'nik',
 'nama',
 'alamat',
 'provinsi',
 'kabupaten',
 'kecamatan',
 'kelurahan',
 'tahun',
 'kategori',
 'jumlah',
 'satuan']

## Membuat tabel yang sesuai

Tabel yang akan dibentuk terdiri atas kolom-kolom berikut:

| id | kode_provinsi | nama_provinsi | kode_kabupaten_kota | kabupaten | nama_kabupaten_kota | bps_kode_kecamatan | kecamatan | bps_nama_kecamatan | bps_kode_desa_kelurahan | kelurahan | bps_nama_desa_kelurahan | kemendagri_kode_kecamatan | kemendagri_nama_kecamatan | kemendagri_kode_desa_kelurahan | kemendagri_nama_desa_kelurahan | periode_update | nik       | nama        | alamat     | kategori | jumlah | satuan | tahun |
|----|----------------|----------------|----------------------|-----------|----------------------|---------------------|-----------|---------------------|---------------------------|-----------|----------------------------|-----------------------------|------------------------------|-------------------------------|-------------------------------|----------------|-----------|-------------|------------|----------|--------|--------|-------|
| 1  | 35             | JAWA TIMUR     | 3526                 | KABUPATEN BANGKALAN  | KABUPATEN BANGKALAN   | 3526140             | GEGER     | GEGER               | 3526140002                | LERPAK    | LERPAK                    | 35.26.06                   | GEGER                       | 35.26.06.2005                | LERPAK                       | TRIWULAN I 2024   | 3526060000000000     | ABD HALIM  | DSN GLIMBUR  | -        | -      | -      | 2024  |



Tabel tersebut merupakan hasil penggabungan (merge) antara data **masterdesa** dan data dari **Data Dinas Sosial**.  
Proses penggabungan dilakukan berdasarkan kolom identitas wilayah administratif, seperti:

- `kode_provinsi`
- `nama_provinsi`
- `kabupaten`
- `kecamatan`
- `kelurahan`

Beberapa kolom juga dilakukan penyesuaian nama agar struktur tabel akhir konsisten dan dapat menampung informasi dari kedua sumber data.

In [334]:
# Mengubah nama kolom agar sesuai dengan nama tabel yang diinginkan
data1 = data1.rename(columns={
    'bps_desa_kelurahan':'bps_nama_desa_kelurahan',
    'kemendagri_desa_kelurahan':'kemendagri_nama_desa_kelurahan'
})

In [335]:
# Membersihkan data sebelum melakukan merge
def clean(df, kolom):
    for k in kolom:
      # Menghapus spasi berlebih dan mengubah isi kolom menjadi huruf kapital
        df[k] = df[k].astype(str).str.strip().str.upper()

# Membersihkan kolom-kolom pada data1 (masterdesa) agar memiliki format yang seragam
clean(data1, ['nama_provinsi', 'nama_kabupaten_kota', 'bps_nama_kecamatan', 'bps_nama_desa_kelurahan'])
# Membersihkan kolom-kolom pada data2 (Data Dinas Sosial) agar memiliki format yang seragam
clean(data2, ['nama_provinsi', 'kabupaten', 'kecamatan', 'kelurahan'])
# Mengubah format penulisan kabupaten pada data2
data2['kabupaten'] = data2['kabupaten'].str.replace('KAB. ', 'KABUPATEN ', regex=False)
# Menyamakan nama beberapa kolom pada data1 agar sesuai dengan kolom pada data2
data1['kabupaten'] = data1['nama_kabupaten_kota']
data1['kecamatan'] = data1['bps_nama_kecamatan']
data1['kelurahan'] = data1['bps_nama_desa_kelurahan']

In [336]:
# Melakukan penggabungan data berdasarkan 'kode_provinsi', 'nama_provinsi','kabupaten', 'kecamatan', 'kelurahan'
data = pd.merge(
    data2,
    data1,
    how='left',
    on=['kode_provinsi', 'nama_provinsi','kabupaten', 'kecamatan', 'kelurahan']
)

In [337]:
# Menampilkan data yang sudah digabungkan
data.head()

,id,kode_provinsi,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,...,kode_kabupaten_kota,nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan
0,1,35,JAWA TIMUR,Triwulan I 2024,3.53E+20,ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KABUPATEN BANGKALAN,GEGER,...,3526.0,KABUPATEN BANGKALAN,3526140.0,GEGER,3.526140e+09,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK
1,2,35,JAWA TIMUR,Triwulan I 2024,3.53E+20,ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KABUPATEN BANGKALAN,GALIS,...,3526.0,KABUPATEN BANGKALAN,3526070.0,GALIS,3.526070e+09,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS
2,3,35,JAWA TIMUR,Triwulan I 2024,3.53E+20,ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KABUPATEN BANGKALAN,GALIS,...,3526.0,KABUPATEN BANGKALAN,3526070.0,GALIS,3.526070e+09,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK
3,4,35,JAWA TIMUR,Triwulan I 2024,3.53E+20,ACHMAD,DSN POCONG,JAWA TIMUR,KABUPATEN BANGKALAN,GEGER,...,3526.0,KABUPATEN BANGKALAN,3526140.0,GEGER,3.526140e+09,CAMPOR,35.26.06,GEGER,35.26.06.2010,CAMPOR
4,5,35,JAWA TIMUR,Triwulan I 2024,3.53E+20,ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KABUPATEN BANGKALAN,TRAGAH,...,3526.0,KABUPATEN BANGKALAN,3526090.0,TRAGAH,3.526090e+09,TRAGAH,35.26.14,TRAGAH,35.26.14.2006,TRAGAH

In [338]:
# Melihat nama-nama kolom pada data yang sudah digabungkan
data.columns.tolist()

['id',
 'kode_provinsi',
 'nama_provinsi',
 'periode_update',
 'nik',
 'nama',
 'alamat',
 'provinsi',
 'kabupaten',
 'kecamatan',
 'kelurahan',
 'tahun',
 'kategori',
 'jumlah',
 'satuan',
 'kode_kabupaten_kota',
 'nama_kabupaten_kota',
 'bps_kode_kecamatan',
 'bps_nama_kecamatan',
 'bps_kode_desa_kelurahan',
 'bps_nama_desa_kelurahan',
 'kemendagri_kode_kecamatan',
 'kemendagri_nama_kecamatan',
 'kemendagri_kode_desa_kelurahan',
 'kemendagri_nama_desa_kelurahan']

In [339]:
# Mengurutkan kolom berdasarkan ketentuan pada tabel yang diinginkan
data_urut=['id','kode_provinsi',
           'nama_provinsi','kode_kabupaten_kota','kabupaten','nama_kabupaten_kota',
           'bps_kode_kecamatan','kecamatan','bps_nama_kecamatan','bps_kode_desa_kelurahan',
           'kelurahan','bps_nama_desa_kelurahan','kemendagri_kode_kecamatan',
           'kemendagri_nama_kecamatan','kemendagri_kode_desa_kelurahan',
           'kemendagri_nama_desa_kelurahan','periode_update','nik','nama',
           'alamat','kategori','jumlah','satuan','tahun']

In [340]:
# Memastikan hanya kolom yang ada dalam DataFrame yang digunakan
data_urut = [col for col in data_urut if col in data.columns]

In [341]:
# Menyusun ulang kolom DataFrame sesuai urutan tersebut
data = data[data_urut]

In [342]:
data.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,...,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,jumlah,satuan,tahun
0,1,35,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140.0,GEGER,GEGER,3.526140e+09,...,35.26.06.2005,LERPAK,Triwulan I 2024,3.53E+20,ABD HALIM,DSN GLIMBUR,-,-,-,2024
1,2,35,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070.0,GALIS,GALIS,3.526070e+09,...,35.26.18.2007,GALIS,Triwulan I 2024,3.53E+20,ABD. ROHMAN,DSN. REMBAH GALIS,-,-,-,2024
2,3,35,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070.0,GALIS,GALIS,3.526070e+09,...,35.26.18.2006,LONGKEK,Triwulan I 2024,3.53E+20,ABDUS SYUKUR,DSN. BARAT SUMBER,-,-,-,2024
3,4,35,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140.0,GEGER,GEGER,3.526140e+09,...,35.26.06.2010,CAMPOR,Triwulan I 2024,3.53E+20,ACHMAD,DSN POCONG,-,-,-,2024
4,5,35,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526090.0,TRAGAH,TRAGAH,3.526090e+09,...,35.26.14.2006,TRAGAH,Triwulan I 2024,3.53E+20,ACHMAD RIDOI,DSN. BANGGUMOK,-,-,-,2024

## Data Cleansing

In [343]:
# Melihat informasi terkait banyak baris yang ada pada masing-masing kolom, hal ini penting untuk mengetahui perbedaan setelah dilakukan penanganan data yang hilang
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11629 entries, 0 to 11628
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              11629 non-null  int64
 1   kode_provinsi                   11629 non-null  int64
 2   nama_provinsi                   11629 non-null  object
 3   kode_kabupaten_kota             9969 non-null   float64
 4   kabupaten                       11629 non-null  object
 5   nama_kabupaten_kota             9969 non-null   object
 6   bps_kode_kecamatan              9969 non-null   float64
 7   kecamatan                       11629 non-null  object
 8   bps_nama_kecamatan              9969 non-null   object
 9   bps_kode_desa_kelurahan         9969 non-null   float64
 10  kelurahan                       11629 non-null  object
 11  bps_nama_desa_kelurahan         9969 non-null   object
 12  kemendagri_kode_kecamatan       9969 non-null   object
 13  kemendagri_nama_kecamatan       9969 non-null   object
 14  kemendagri_kode_desa_kelurahan  9969 non-null   object
 15  kemendagri_nama_desa_kelurahan  9969 non-null   object
 16  periode_update                  11629 non-null  object
 17  nik                             11629 non-null  object
 18  nama                            11629 non-null  object
 19  alamat                          11629 non-null  object
 20  kategori                        11629 non-null  object
 21  jumlah                          11629 non-null  object
 22  satuan                          11629 non-null  object
 23  tahun                           11629 non-null  int64
dtypes: float64(3), int64(3), object(18)
memory usage: 2.1+ MB

In [344]:
# Memeriksa nilai yang hilang pada masing-masing kolom
data.isna().sum()

id                                   0
kode_provinsi                        0
nama_provinsi                        0
kode_kabupaten_kota               1660
kabupaten                            0
nama_kabupaten_kota               1660
bps_kode_kecamatan                1660
kecamatan                            0
bps_nama_kecamatan                1660
bps_kode_desa_kelurahan           1660
kelurahan                            0
bps_nama_desa_kelurahan           1660
kemendagri_kode_kecamatan         1660
kemendagri_nama_kecamatan         1660
kemendagri_kode_desa_kelurahan    1660
kemendagri_nama_desa_kelurahan    1660
periode_update                       0
nik                                  0
nama                                 0
alamat                               0
kategori                             0
jumlah                               0
satuan                               0
tahun                                0
dtype: int64

 Dilihat dari hasil pemeriksaan pada data, terdapat sejumlah nilai yang hilang (`null`). Salah satu cara umum untuk mengatasi nilai yang hilang adalah dengan menghapus baris yang memiliki nilai kosong. Langkah ini dilakukan untuk menjaga keakuratan data, terutama jika kolom yang kosong memegang peranan penting dalam analisis.

Selain menghapus, cara lain yang sering digunakan untuk menangani nilai hilang adalah mengisi nilai kosong (imputasi) dengan nilai tertentu, seperti rata-rata, median, modus, atau nilai tetap tertentu. Namun, pemilihan metode tergantung pada konteks data dan tujuan analisis.

In [345]:
# Menangani nilai yang hilang
data = data.dropna()

In [346]:
# Memeriksa kembali apakah masih terdapat nilai yang hilang pada data
data.isna().sum()

id                                0
kode_provinsi                     0
nama_provinsi                     0
kode_kabupaten_kota               0
kabupaten                         0
nama_kabupaten_kota               0
bps_kode_kecamatan                0
kecamatan                         0
bps_nama_kecamatan                0
bps_kode_desa_kelurahan           0
kelurahan                         0
bps_nama_desa_kelurahan           0
kemendagri_kode_kecamatan         0
kemendagri_nama_kecamatan         0
kemendagri_kode_desa_kelurahan    0
kemendagri_nama_desa_kelurahan    0
periode_update                    0
nik                               0
nama                              0
alamat                            0
kategori                          0
jumlah                            0
satuan                            0
tahun                             0
dtype: int64

In [347]:
# Melihat banyaknya baris pada masing-masing kolom setelah dilakukan penanganan nilai yang hilang
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 11628
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              9969 non-null   int64
 1   kode_provinsi                   9969 non-null   int64
 2   nama_provinsi                   9969 non-null   object
 3   kode_kabupaten_kota             9969 non-null   float64
 4   kabupaten                       9969 non-null   object
 5   nama_kabupaten_kota             9969 non-null   object
 6   bps_kode_kecamatan              9969 non-null   float64
 7   kecamatan                       9969 non-null   object
 8   bps_nama_kecamatan              9969 non-null   object
 9   bps_kode_desa_kelurahan         9969 non-null   float64
 10  kelurahan                       9969 non-null   object
 11  bps_nama_desa_kelurahan         9969 non-null   object
 12  kemendagri_kode_kecamatan       9969 non-null   object
 13  kemendagri_nama_kecamatan       9969 non-null   object
 14  kemendagri_kode_desa_kelurahan  9969 non-null   object
 15  kemendagri_nama_desa_kelurahan  9969 non-null   object
 16  periode_update                  9969 non-null   object
 17  nik                             9969 non-null   object
 18  nama                            9969 non-null   object
 19  alamat                          9969 non-null   object
 20  kategori                        9969 non-null   object
 21  jumlah                          9969 non-null   object
 22  satuan                          9969 non-null   object
 23  tahun                           9969 non-null   int64
dtypes: float64(3), int64(3), object(18)
memory usage: 1.9+ MB

In [348]:
data.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,...,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,jumlah,satuan,tahun
0,1,35,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140.0,GEGER,GEGER,3.526140e+09,...,35.26.06.2005,LERPAK,Triwulan I 2024,3.53E+20,ABD HALIM,DSN GLIMBUR,-,-,-,2024
1,2,35,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070.0,GALIS,GALIS,3.526070e+09,...,35.26.18.2007,GALIS,Triwulan I 2024,3.53E+20,ABD. ROHMAN,DSN. REMBAH GALIS,-,-,-,2024
2,3,35,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070.0,GALIS,GALIS,3.526070e+09,...,35.26.18.2006,LONGKEK,Triwulan I 2024,3.53E+20,ABDUS SYUKUR,DSN. BARAT SUMBER,-,-,-,2024
3,4,35,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140.0,GEGER,GEGER,3.526140e+09,...,35.26.06.2010,CAMPOR,Triwulan I 2024,3.53E+20,ACHMAD,DSN POCONG,-,-,-,2024
4,5,35,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526090.0,TRAGAH,TRAGAH,3.526090e+09,...,35.26.14.2006,TRAGAH,Triwulan I 2024,3.53E+20,ACHMAD RIDOI,DSN. BANGGUMOK,-,-,-,2024

In [349]:
# Memeriksa duplikasi pada data
data.duplicated().sum()

np.int64(0)

Tidak terdapat duplikasi pada data

#  **Check Point**

-  Penggabungan data berhasil dilakukan menggunakan merge berdasarkan beberapa kolom wilayah.
-  Nilai Hilang: Dilakukan penghapusan nilai yang hilang.
-  Duplikasi: Tidak ditemukan data yang duplikat pada dataset hasil akhir.